<!DOCTYPE html>
<html lang="zh-Hans" style="background-color: #eaeaea;">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>数据统计</title>

    <script src="../static/indexJs/index/log-reporter.js"></script>
    <script src="../static/indexJs/index/jquery3.js"></script>

    {#  Bootstrap  #}
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">

    {#  浮动面板  #}
    <script src="../static/floatPanel/floatPanel.min.js"></script>
    <link rel="stylesheet" href="../static/floatPanel/floatPanel.min.css">

    {#  pageloader.js  #}
    <link rel="stylesheet" href="../static/css/win10.css">

    {#  jquery.dataBasetable.js  #}
    <script src="../static/js/jquery/dataBaseTable/js/jquery.dataTables.min.js"></script>
    <script src="../static/js/jquery/dataBaseTable/js/dataTables.bootstrap.min.js"></script>
    {#    <link rel="stylesheet" href="../static/js/jquery/dataBaseTable/js/jquery.dataTables.css">#}
    <link rel="stylesheet" href="../static/js/jquery/dataBaseTable/js/dataTables.bootstrap.min.css">

    {#  echarts  #}
    <script src="../static/js/echarts/echarts-gl.min.js"></script>
    <script src="../static/js/echarts/echarts.common.min.js"></script>
    <script src="../static/js/echarts/shine.js"></script>

    {#  letterfx  #}
    <link href="../static/js/jquery/letterfx/jquery-letterfx.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/jquery/letterfx/jquery-letterfx.js"></script>

    <link rel="stylesheet" href="../static/indexJs/home.css">
</head>
<style>
    .panel-diy {
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    }

    #panel-float {
        z-index: 100000;
    }

    .panels {
        cursor: default;
    }

    .tagline {
        font-size: 35px;
        font-weight: 600;
        color: #fff;
        position: fixed;
        z-index: 100000;
        bottom: 30px;
        right: 50px;
    }
</style>
<body style="background-color: #eaeaea;min-height: 2000px;">
<div class="loading-page" id="loading-page">
    <p class="tagline">冬天统治了一切，谁敢直面风雪？</p>
    <div class="htmleaf-content"
         style="position: fixed;top: 50%;left: 50%;text-align: center;transform: translate(-50%,-50%);">
        <span class="loading-text" style="font-size: 30px;font-weight: 500;color: #fff;">准备战场中</span>
        <span class="ls-1" style="height: 6px;width: 6px;background: #fff;"></span>
        <span class="ls-2" style="height: 6px;width: 6px;background: #fff;"></span>
        <span class="ls-3" style="height: 6px;width: 6px;background: #fff;"></span>
        <span class="ls-4" style="height: 6px;width: 6px;background: #fff;"></span>
        <span class="ls-5" style="height: 6px;width: 6px;background: #fff;"></span>
        <span class="ls-6" style="height: 6px;width: 6px;background: #fff;"></span>
    </div>
</div>
<script>
    fx = {
        "fx": "smear",
        "backwards": false,
        "timing": 200,
        "fx_duration": "300ms",
        "letter_end": "rewind",
        "element_end": "restore"
    }
    $('.tagline').letterfx(fx);
    $(function () {
        setTimeout(function () {
            $('#loading-page').remove()
        }, 2000);
    });
</script>
<div class="ie-tips"></div>
<div id="home-app"></div>
<div id="app">
    <div class="bili-header-m report-wrap-module" style="background-color: #03030300;">
        <div class="nav-menu">
            <div class="blur-bg"></div>
            <div class="nav-mask" id="top" style="background-color: rgba(0,0,0,.2)"></div>
            <div class="bili-wrapper clearfix">
                <div class="nav-con fl">
                    <ul>
                        <li style="float: left;text-align: center;line-height: 42px;">
                            <p id="sjcj"
                               style="color: #f6f6f6;font-size: 19px;padding: 0px 15px 0px 0px;font-weight: 500;">
                                数据求生</p>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="t"><span
                                    class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
                        </li>
                        <li class="nav-item">
                            <a href="/dataStatistics" class="t" style="background-color: #ffffff80;color: #000;">
                                <span class="glyphicon glyphicon-stats"></span>&nbsp;数据统计
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/arms" class="t">
                                <span class="glyphicon glyphicon-screenshot"></span>&nbsp;武器分析
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/maps" class="t"><span
                                    class="glyphicon glyphicon-map-marker"></span>&nbsp;地图分布</a>
                        </li>
                    </ul>
                </div>
                <div report-id="playpage_contribution" class="up-load fr">
                    <a target="_blank" class="u-link t" style="font-size: 24px;" id="top-btn">
                        <span class="glyphicon glyphicon-stats" id="top-icon"></span></a>
                </div>
            </div>
        </div>
        <video src="../static/av/bg_av.mp4"
               style="position: fixed;top: 0px;left: 0;right: 0;bottom: 0;height: auto;z-index: -1000000;"
               class="head-banner report-wrap-module report-scroll-module"
               autoplay="autoplay" id="banner_link" preload="true" loop="loop"></video>

        <div class="bili-wrapper" id="main" style="padding-top: 45px;">
            <div id="primary_menu" class="primary-menu report-wrap-module report-scroll-module " scrollshow="true">
                <div style="float: left;width: 100%;" class="panel panel-default panel-diy">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-7" style="font-size: 18px;font-weight: 700;">
                                杀人数与吃鸡率关系
                            </div>
                            <div class="col-xs-5" style="text-align: right;">
                                <a type="button" onclick="pdc()" class="btn btn-default">
                                    图表切换
                                </a>
                                <a class="btn btn-default" onclick="zck('zck1')">单排</a>
                                <a class="btn btn-default" onclick="zck('zck2')">双排</a>
                                <a class="btn btn-default" onclick="zck('zck4')">四排</a>
                            </div>
                            <script>
                                var pd = true
                                var dataType = 'zck1'

                                function pdc() {
                                    if (pd) {
                                        $('#eChartsiframe').attr('src', '/eChartsDataPage?name=' + dataType + '&echartsType=b')
                                        pd = false
                                    } else {
                                        pd = true
                                        $('#eChartsiframe').attr('src', '/eChartsDataPage?name=' + dataType)
                                    }
                                }

                                function zck(data) {
                                    if (pd) {
                                        dataType = data
                                        $('#eChartsiframe').attr('src', '/eChartsDataPage?name=' + data)
                                    } else {
                                        dataType = data
                                        $('#eChartsiframe').attr('src', '/eChartsDataPage?name=' + data + '&echartsType=b')
                                    }
                                }
                            </script>
                        </div>
                    </div>
                    <div class="panel-body" style="height: 350px">
                        <iframe id="eChartsiframe" style="border: 0px;height: 100%;width: 100%;"
                                src="/eChartsDataPage?name=zck1">

                        </iframe>
                    </div>
                </div>


                <div style="float: left;width: 100%;" class="panel panel-info panel-diy">
                    <div class="panel-heading">
                        <h3 class="panel-heading" style="font-size: 18px;font-weight: 700;">杀人数与吃鸡的关系</h3>
                    </div>
                    <div class="panel-body" style="height: 350px;">
                        <iframe style="border: 0px;height: 100%;width: 100%;"
                                src="/eChartsDataPage?name=zkfpp">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bili-wrapper">
    </div>
</div>
</body>
</html>
{#  顶栏效果  #}
<script>

    var topIcon = $('#top-icon')
    var topBtn = $('#top-btn')


    function topbar() {
        var top = $('#top')
        var bg = $('#banner_link')
        var thisHeight = $(window).scrollTop()
        {#console.log(thisHeight)#}
        if (thisHeight >= 0 && thisHeight <= 250) {
            var hei = (thisHeight) / 250
            if (hei >= 0.3) {
                $('.t').css('color', 'rgb(' + hei * 255 + ', ' + hei * 255 + ', ' + hei * 255 + ')')
            } else {
                $('.t').css('color', 'rgb(' + (1 - hei) * 255 + ', ' + (1 - hei) * 255 + ', ' + (1 - hei) * 255 + ')')
            }
            {#top.css('background-color', 'rgba(221,135,0,' + hei + ')');#}
        }

        if (thisHeight > 700) {
            topIcon.removeClass("glyphicon-stats")
            topIcon.addClass("glyphicon-hand-up")
            {#top.css('background-color', 'rgba(221,135,0,1)');#}
        } else {
            topIcon.removeClass("glyphicon-hand-up")
            topIcon.addClass("glyphicon-stats")
        }

    }

    $(window).scroll(function () {
        topbar()
    });
</script>
{#  返回顶栏  #}
<script>
    function returnTop() {
        $("html,bodybody").stop(true);
        $("html,body").animate({scrollTop: $("#main").offset().top}, 1000);
        return false;
    }

    $(function () {
        returnTop()
        topbar()
    });

    topBtn.click(function () {
        returnTop()
    })
</script>
